<h1><%= @employee.first_name %></h1>
<h1><%= @employee.last_name %></h1>

<h2>Likes to be called:<h2>
<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>
<img src="<%=@employee.img_url%>">
<p><%= @employee.dog.name %></p>